body {
	padding-top: 1.5vmax;
}

.fr {
	align-items: center;
	display: flex;
}

.check [type="checkbox"] {
	margin-right: 1vmax;
}

#settings > :not(:last-child) {
	
	margin-bottom: .8vmax;
	
}

#buttons {
	display: flex;
	justify-content: flex-end;
	margin-top: 2vmax;
}